<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">uno8M</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/dblab01</property>
        <property name="hibernate.connection.username">userlab01</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.release_mode">after_statement</property> 
        
        <mapping resource="bean/PostoBean.hbm.xml"/>
        <mapping resource="bean/VoloBean.hbm.xml"/>
        <mapping resource="bean/TrattaBean.hbm.xml"/>
        <mapping resource="bean/PrenotazioneBean.hbm.xml"/>
        <mapping resource="bean/ImbarcoBean.hbm.xml"/>
        <mapping resource="bean/BigliettoBean.hbm.xml"/>
        <mapping resource="bean/PasseggeroBean.hbm.xml"/>
             
    </session-factory>
</hibernate-configuration>
