 body{
 	background: #EEE;
	text-decoration: none; 
	font-family: Georgia, "Times New Roman", Times, serif;
}
.voli table{
	border-collapse: collapse;
	width: 100%;
	font-size: 16%;
}
.voli tbody{
	padding-right: 5px;
	text-align: left;
}
.voli tr,th{
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 10px;
	padding-left: 10px;
}
.voli tr:hover{
	background-color: #dedede;
}
a:hover{
	color:  #E48F8F;
}
a{
	color: #371C1C;
	text-decoration: none;
}
/* sizes */
#main-wrap > div { min-height: 450px; }

#header,
#footer {
    min-height: 40px;
}

.info { min-height: 80px; }

/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#sidebar {
    float: left;
    width: 30%;
    margin:0 auto;
	width:750px;
}

#content-wrap {
    float: right;
    width: 70%;
}

#info-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

.info {
    width: 50%;
    float: left;
}

/*
 * Sezione per la formattazione delle informazioni
 */
ul {
    width:50px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
    font-family:Georgia, Times, "Times New Roman", serif;
}
li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}
label {
    width:50px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
    font-weight:bold;
}