	body{
	 	background: #EEE;
		text-decoration: none; 
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	
	.voli table{
		border-collapse: collapse;
		width: 100%;
		font-size: 16%;
	}
	
	.voli tbody{
		padding-right: 5px;
		text-align: left;
	}
	
	.voli tr,th{
		padding-top: 6px;
		padding-bottom: 6px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.voli tr:hover{
		background-color: #dedede;
	}
	
	a:hover{
		color:  #E48F8F;
	}
	
	a{
		color: #371C1C;
		text-decoration: none;
	}
		
	/* sizes */
	#main-wrap > div { min-height: 25px; }
	
	#header,
	#footer {
	    min-height: 40px;
	}
	
	/* layout */
	#main-wrap {
	    /* overflow to handle inner floating block */
	    overflow: hidden;
	}
	
	#sidebar {
	    float: left;
	    width: 20%;
	}
	
	#content-wrap {
	    float: right;
	    width: 80%;
	} 
	/* 	/*
	 * Sezione per la formattazione delle informazioni
	 */
	 
	ul {
	    list-style-type:none;
	    list-style-position:outside;
	    
	    font-family:Georgia, Times, "Times New Roman", serif;
	}
	
	li{ 
	    border-bottom:1px solid #eee;
	    position:relative;
	}
	
	label {
	    font-weight:bold;
	} */
