	body{
	 	background: #EEE;
		text-decoration: none; 
		font-family: Georgia, "Times New Roman", Times, serif;
	}
	
	.voli table{
		border-collapse: collapse;
		width: 100%;
		font-size: 16%;
	}
	
	.voli tbody{
		padding-right: 5px;
		text-align: left;
	}
	
	.voli tr,th{
		padding-top: 6px;
		padding-bottom: 6px;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	.voli tr:hover{
		background-color: #dedede;
	}
	
	a:hover{
		color:  #E48F8F;
	}
	
	a{
		color: #371C1C;
		text-decoration: none;
	}
		
	/* sizes */
	#main-wrap > div { min-height: 25px; }
	
	#header,
	#footer {
	    min-height: 40px;
	}
	
	/* layout */
	#main-wrap {
	    /* overflow to handle inner floating block */
	    overflow: hidden;
	}
	
	#sidebar {
	    float: left;
	    width: 20%;
	}
	
	#content-wrap {
	    float: right;
	    width: 80%;
	} 
	/* 	/*
	 * Sezione per la formattazione delle informazioni
	 */
	 
	ul {
	    list-style-type:none;
	    list-style-position:outside;
	    
	    font-family:Georgia, Times, "Times New Roman", serif;
	}
	
	li{ 
	    border-bottom:1px solid #eee;
	    position:relative;
	}
	
	label {
	    font-weight:bold;
	} */
	 .prenotazione-page {
	    margin: 0 auto;
	    padding: 10px 20px 10px 20px;
	    font: 10% Georgia, "Times New Roman", Times, serif;
	    color: #888;
	    text-shadow: 1px 1px 1px #FFF;	
	 }
	 .prenotazione-page input[type="text"], .basic-grey input[type="date"], .basic-grey input[type="password"], .basic-grey select{
    	border: 1px solid #DADADA;
    	color: #888;
    	height: 7%;
    	margin-bottom: 1%;
    	margin-top: 1%;
		margin-right:auto; 
		margin-left:auto;  
	    font: normal 25px Georgia, "Times New Roman", Times, serif;
	    text-align: center;
		display: block;
	}
	.prenotazione-page select {
	    background: #FFF url('down-arrow.png') no-repeat right;
	    background: #FFF url('down-arrow.png') no-repeat right);
	    appearance:none;
	    -webkit-appearance:none;
	    -moz-appearance: none;
	    text-indent: 0.01px;
	    text-overflow: '';
	    width: 72%;
	    height: 30px;
	    vertical-align: middle;
	}
	.prenotazione-page .button {
	    background: #E48F8F;
		height: 8%;
		width: 14%;
	    border: none;
	    color: #FFF;
	    font: normal 25px Georgia, "Times New Roman", Times, serif;
	    text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: auto;
	    margin-top: 6%;
	    display: block;
	    vertical-align: middle;
	}
	.prenotazione-page .button:hover {
	    background: #CF7A7A;
		color: #371C1C;
	}